.page {
    align-items: start;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    width: 100%;
}

.overlapWrapper {
    background-color: #ffffff;
    height: 842px;
    width: 595px;
}

.overlap {
    height: 790px;
    left: 25px;
    position: relative;
    top: 26px;
    width: 546px;
}

.paymentMethod {
    color: #000000;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    bottom: 90px;
    width: 400px;
}

.invoiceId {
    color: #000000;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 144px;
    width: 300px;
}

.title {
    height: 106px;
    left: 77px;
    position: absolute;
    top: 25px;
    width: 393px;
}

.overlapGroup {
    background-color: #000000;
    border: 6px solid;
    border-color: #722420;
    border-radius: 36px;
    height: 54px;
    left: 0;
    position: absolute;
    top: 52px;
    width: 391px;
}

.textWrapper2 {
    color: #ffffff;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    left: 8px;
    letter-spacing: 0.42px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    white-space: nowrap;
    width: 364px;
}

.logo {
    aspect-ratio: 2.4;
    height: 52px;
    left: 134px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 124px;
}

.frame {
    border: 2px solid;
    border-color: #722420;
    height: 790px;
    left: 0;
    position: absolute;
    top: 0;
    width: 546px;
}

.rectangle {
    border: 2px solid;
    border-color: #722420;
    height: 780px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 536px;
}
